<a href="https://colab.research.google.com/github/paakoff/skills-introduction-to-github/blob/main/Copy_of_IT5413_extra_emensah9_d3_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List of months and expenses

# months = (January, February, March, April, May, June, July, August, September, October, November, December)

Expenses = (1450.50, 1298.75, 1523.00, 2100.20, 1786.80, 1985.90, 2500.00, 1600.00, 1700.25, 1400.60, 1320.00, 1805.00 )

# Calculate and dispaly the total annual expenses
total_expenses = sum(Expenses)
print("Total Annual Expenses:", total_expenses)

In [ ]:
# Calculate the average monthly expenses
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

Expenses = (1450.50, 1298.75, 1523.00, 2100.20, 1786.80, 1985.90, 2500.00, 1600.00, 1700.25, 1400.60, 1320.00, 1805.00 )
average_expenses = total_expenses / len(Expenses)

average_months = [month for month, expense in zip(months, Expenses) if expense > average_expenses]
print(f"Months with expenses above the average:",average_months)
print(f"Average Monthly Expenses:", average_expenses)
for i in range(len(months)):
    print(f"{months[i]}: ${Expenses[i]}")

In [ ]:
# Calculate the highest and lowest monthly expenses
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

Expenses = (1450.50, 1298.75, 1523.00, 2100.20, 1786.80, 1985.90, 2500.00, 1600.00, 1700.25, 1400.60, 1320.00, 1805.00 )
months_expenses = list(zip(months, Expenses))
highest_expense = max(months_expenses, key=lambda x: x[1])
lowest_expense = min(months_expenses, key=lambda x: x[1])
print("Highest Monthly Expense:", highest_expense)
print("Lowest Monthly Expense:", lowest_expense)

In [ ]:
# Dispaly a if any month's expenses exceeds $2000
for month, expense in enumerate(Expenses, start=1):
    if expense > 2000:
        print(f"Expense of ${expense} exceeds $2000 in month {month}.")